body {

	background: rgb(241, 123, 175);
}

 .img-responsive{
	margin: auto;
}

section p {
	font-size: 30px;
    line-height: 1.5;
    margin-bottom: 35px;
    padding-top: 60px;
}

#contact {
	padding-top: 500px;
}