body {

	background: rgb(241, 123, 175);
  font-family: "Helvetica Neue";
  font-weight: 100;
}

 .img-responsive{
	margin: auto;
}





section p {
	font-size: 30px;
    line-height: 1.5;
}


#listen {
text-align: center;
margin: auto;


}

#tourdates

{
  text-align: center;
  margin: 0 auto;
  padding: 300px;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

html {
  border-top: 5px solid #fff;
  background: rgb(241, 123, 175);
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;

}

/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   albumcover //////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;

}

a{
    text-decoration: none;
    color: #cfcfcf;
}

a:hover,
a:visited{
    color: #007da7;
}

img#albumcover {
    background-color: #000;
    background-attachment: fixed;
    max-width: 100%;
    width: 700px;

}
#buy {
    text-align: center;
    padding: 10px;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0px;
}

p.release {
    font-size: 20px;
    margin: 0;
    padding: 0;
}



.links {
    display: block;
}
a.link {
    display: inline-block;

    width: 120px;
    height: 32px;
    margin: 5px 8px;
    border: 3px solid #73AD21;

    color: #fff;
    line-height: 12px;
    font-weight: 200;
    border: 1px solid #ee62c2;
    padding: 10px 10px;
}


/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   HOVER for BUTTON/LINKS //////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

#buttons {
    overflow-y:auto;
    font-size: 12px;
}
.white-popup {
  position: relative;
  background:#1d1433;
  padding: 20px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}
/* Float */
.floatbuttons {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}
.floatbuttons:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: #ff69d0;

}

