.footer{
	background-color: #1f2022;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;

	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer .footer-left{
	float: left;
}

/* The company logo */

.footer h3{
	color:  #ffffff;
	font: normal 40px;
	margin: 0 0 10px;
	font-weight: 500;
	font-family: helvetica;
}

.footer h3 span{
	color:  #5383d3;
}


/* Footer links */

.footer .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
	font-family: helvetica;
	font-weight: 200;
	font-size: 20px;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	text-align: left;
	padding: 0;
}

/* Footer social icons */

.footer .footer-icons{
	margin-top: 40px;
}

.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer .footer-right{
	float: right;
}

.footer .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
	font-weight: 200; 
	font-size: 20px;
	text-align: left;
	padding: 0;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer {
		font: bold 14px sans-serif;
	}

	.footer .footer-company-name{
		font-size: 12px;
	}

	.footer form input,
	.footer form textarea{
		width: 250px;
	}

	.footer form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer{
		padding: 30px;
	}

	.footer .footer-left,
	.footer .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer .footer-left{
		margin-bottom: 40px;
	}

	.footer form{
		margin-top: 30px;
	}

	.footer form{
		display: block;
	}

	.footer form button{
		float: none;
	}
}
