body {

	background: rgb(241, 123, 175);
  padding-top: 70px;
}

.navbar {
  background-color: rgba(32, 35, 41,0.8);
  font-family: helvetica;
}


img {
	margin: auto;
}

section p {
	font-size: 30px;
  line-height: 1.5;
  font-family: helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 50px 50px 50px 50px;
 
}

h2 {
  font-family: helvetica;
  color: black;
  margin: auto;
}

#about {

}

#listen {
text-align: center;
margin: auto;
}

#tourdates {
  text-align: center;
  margin: auto;
}

#mailer {
  margin: auto;
  padding-bottom: 100px
}

input {
    border: 0;
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    font-weight: normal;
    font-family: helvetica
  }

  input[type="submit"] {
    font-family: helvetica;
    font-weight: normal;
    color: black; 
    background-color: rgba(0,0,0,0.1);
  } 

footer {
background-color: rgba(32, 35, 41,0.8);
margin: 0;
padding-left: 50px;
padding-top: 50px;
padding-bottom: 50px;
}


#social-buttons button {
color: white;
}

.btn-twitter{
background-color: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background-color: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}



