body {
  font-family: Permanent Marker;
	background: rgb(241, 123, 175);
  padding-top: 70px;
  background-attachment: fixed;
}

.navbar {
  background-color: rgba(32, 35, 41,0.8);
  font-family: Permanent Marker;
  padding: 10px;
  font-size: 25px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.navbar-brand {
  font-size: 50px;

}

.nav-up {
    top: -40px;
}

.jumbotron {
background: rgb(241, 123, 175);
margin-top: 20px;
}

.jumbotron img {
  margin: auto;
  border: solid black;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}



section p {
	font-size: 40px;
  line-height: 1.5;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 50px 50px 50px 50px;
 
}

h2 {
  font-size: 30px;
  color: #000;
  text-align: center;
  background-color: rgb(241, 123, 175);
}
/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   memory-game //////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/


.my-memorygame

{
  background-color:rgb(241, 123, 175);
 


}

.reset-button {
  font-size: 20px;
  color: black;


}

/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   albumcover //////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;

}

a{
    text-decoration: none;
    color: #cfcfcf;
}

a:hover,
a:visited{
    color: #007da7;
}

.main {
padding-top: 50px;
padding-bottom: 50px;
background-color: #000;
  border-radius: 8px;
}

img#albumcover {
    margin: auto;
    background-color: #000;
    background-attachment: fixed;
    max-width: 100%;
    width: 300px;

}
#buy {
    text-align: center;
    padding: 10px;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0px;
}

p.release {
    color:#fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
}



.links {
    display: block;
}
a.link {
    display: inline-block;

    width: 120px;
    height: 32px;
    margin: 5px 8px;
    border: 3px solid #73AD21;

    color: #fff;
    line-height: 12px;
    font-weight: 200;
    border: 1px solid #ee62c2;
    padding: 10px 10px;
}


/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   HOVER for BUTTON/LINKS //////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

#buttons {
    overflow-y:auto;
    font-size: 12px;
}
.white-popup {
  position: relative;
  background:#1d1433;
  padding: 20px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}
/* Float */
.floatbuttons {
  font-family: helveticaNeue;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}
.floatbuttons:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: #ff69d0;

}



#tourdates {
  text-align: center;
  margin: auto;
  max-width: 50%;
}

<<<<<<< Updated upstream
footer {
  font-family: helvetica;
}
=======
/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   SPOTIFY API BUTTON //////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

input {
    width: 400px;
}

/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   MAILING LIST SECTION//////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

.mailer {
font-size: 10px;



}

